@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*,*::before,*::after{
  box-sizing: border-box;
}

html{
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  font-family: 'Epilogue', sans-serif;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.navBarlist__list{
  list-style: none;
  padding-left: 1rem;
}
.navBarlist__action{
  padding-top: 0.5rem;
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-size: 0.8rem;
}
.navBarlist__item{
  margin-bottom: 1.5rem;
}

.navBarlist__link{
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

.navbar__menu{
  border: 0;
  background-color: hsl(0, 0%, 98%);
}

.navbar__desktop{
  display: none;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
}

.modal.open{
  display: flex;
}
.modal.close{
  display: none;
}

.modal__container{
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  width: 60%;
  min-width: 200px;
  max-width: 300px;
  position: absolute;
  right: 0;
}

.modal__closemenu{
  background-color: hsl(0, 0%, 98%);
  border: none;
  position: relative;
  padding: 0;
  left: 80%;
}
.modal__closeimg{
  width: 90%;
}

.hero{
  display: flex;
  flex-direction: column;
}
.hero__text{
  text-align: center;
  order: 1;
}
.hero__paragraph{
  font-size: 1.125rem;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}
.hero__title{
  color: hsl(0, 0%, 8%);
  font-weight: 700;
  font-size: 2.3rem;
}
.hero__img{
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
}
.hero__clients{
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 4.5rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  justify-content: center;
}
.hero__client1{
  width: 20%;
  max-width: 6rem;
}
.hero__client2{
  width: 13%;
  max-width: 6rem;
}
.hero__client3{
  width: 17%;
  max-width: 6rem;
}
.hero__client4{
  width: 16%;
  max-width: 6rem;
}

@media(min-width:1440px){
  .modal.open{
    display: none;
  }
  .navbar{
    display: flex;
    align-items: flex-end;
  }
  .navbar__logo{
    margin-right: 1rem;
  }
  .navbar__desktop{
    display: flex;
    flex-grow: 1;
  }
  .navBarlist{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.9rem;
  }
  .navBarlist__item{
    display: inline;
    margin-right: 2rem;
  }
  .navbar__menu{
    display: none;
  }

  .navBarlist__link:active{
    color: black;
  }
  .navBarlist__link:hover{
    color: black;
  }

  .hero{
    display: flex;
    flex-direction: row;
    max-height: 550px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero__text{
    order: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero__title{
    font-size: 5rem;
    width: 70%;
  }
  .hero__paragraph{
    width: 60%;
    margin-bottom: 3rem;
  }
  .hero__img{
    width: 40%;
    content: url("/src/assets/images/image-hero-desktop.png");
  }
  .hero__clients{
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
  }
  .hero__client1{
    width: 13%;
  }
  .hero__client2{
    width: 8%;
  }
  .hero__client3{
    width: 10%;
  }
  .hero__client4{
    width: 9%;
  }
  .full ul{
    left: 5rem;
  }
}